#trackerInterface {
  top: unset;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
#trackerInterface #trackerInterfaceHeader {
  font-size: 17.55px;
  font-weight: 700;
}
#trackerInterface #trackerInterfaceFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
#trackerInterface #trackerInterfaceFooter button {
  width: -moz-fit-content;
  width: fit-content;
}

.tracker-editor-container,
.tracker-view-container {
  text-align: start;
}
.tracker-editor-container .tracker-editor-field,
.tracker-editor-container .tracker-view-field,
.tracker-view-container .tracker-editor-field,
.tracker-view-container .tracker-view-field {
  width: 100%;
}
.tracker-editor-container .tracker-editor-field .tracker-editor-label,
.tracker-editor-container .tracker-editor-field .tracker-view-label,
.tracker-editor-container .tracker-view-field .tracker-editor-label,
.tracker-editor-container .tracker-view-field .tracker-view-label,
.tracker-view-container .tracker-editor-field .tracker-editor-label,
.tracker-view-container .tracker-editor-field .tracker-view-label,
.tracker-view-container .tracker-view-field .tracker-editor-label,
.tracker-view-container .tracker-view-field .tracker-view-label {
  font-weight: bold;
}
.tracker-editor-container .tracker-editor-field .tracker-editor-list-item,
.tracker-editor-container .tracker-editor-field .tracker-editor-nested,
.tracker-editor-container .tracker-editor-field .tracker-view-nested,
.tracker-editor-container .tracker-view-field .tracker-editor-list-item,
.tracker-editor-container .tracker-view-field .tracker-editor-nested,
.tracker-editor-container .tracker-view-field .tracker-view-nested,
.tracker-view-container .tracker-editor-field .tracker-editor-list-item,
.tracker-view-container .tracker-editor-field .tracker-editor-nested,
.tracker-view-container .tracker-editor-field .tracker-view-nested,
.tracker-view-container .tracker-view-field .tracker-editor-list-item,
.tracker-view-container .tracker-view-field .tracker-editor-nested,
.tracker-view-container .tracker-view-field .tracker-view-nested {
  padding-left: 20px;
}
.tracker-editor-container .tracker-editor-field .tracker-editor-textarea,
.tracker-editor-container .tracker-view-field .tracker-editor-textarea,
.tracker-view-container .tracker-editor-field .tracker-editor-textarea,
.tracker-view-container .tracker-view-field .tracker-editor-textarea {
  resize: none;
  overflow: hidden;
  min-height: 0px;
  box-sizing: border-box;
}
.tracker-editor-container .menu_button,
.tracker-view-container .menu_button {
  white-space: nowrap;
}

.mes_tracker .tracker_default_mes_template {
  font-size: smaller;
}
.mes_tracker .tracker_default_mes_template tr td {
  vertical-align: top;
}
.mes_tracker .tracker_default_mes_template tr td:first-child {
  text-align: right;
  font-weight: bold;
  width: 60px;
}
.mes_tracker .tracker_default_mes_template details summary {
  font-weight: bold;
}
.mes_tracker .tracker_default_mes_template details summary span {
  left: -3.25px;
  position: relative;
  display: inline-block;
}
.mes_tracker .tracker_default_mes_template details table,
.mes_tracker .tracker_default_mes_template details .mes_tracker_characters {
  padding-left: 20px;
}

.tracker-prompt-maker-modal {
  width: var(--sheldWidth) !important;
}
@media screen and (max-width: 1000px) {
  .tracker-prompt-maker-modal {
    width: 100% !important;
  }
}

.tracker-prompt-maker {
  text-align: left;
  /* Placeholder styling */
  /* Helper styling during dragging */
  /* Shrink sibling fields in the same container during drag */
}
.tracker-prompt-maker > .fields-container {
  max-height: 80vh;
  overflow-y: scroll;
}
.tracker-prompt-maker > .fields-container > .field-wrapper {
  background-color: rgba(125, 125, 125, 0.3);
}
.tracker-prompt-maker .field-wrapper {
  border: 1px solid var(--SmartThemeBorderColor);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--black30a);
}
.tracker-prompt-maker .field-wrapper select {
  margin-top: 5px;
  margin-bottom: 5px;
}
.tracker-prompt-maker .field-wrapper .name-dynamic-type-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.tracker-prompt-maker .field-wrapper .name-dynamic-type-wrapper .field-name-wrapper {
  flex-grow: 1;
  flex-shrink: 1 !important;
}
.tracker-prompt-maker .field-wrapper .name-dynamic-type-wrapper .field-name-wrapper,
.tracker-prompt-maker .field-wrapper .name-dynamic-type-wrapper .field-type-wrapper,
.tracker-prompt-maker .field-wrapper .name-dynamic-type-wrapper .presence-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  flex-shrink: 0;
  align-items: center;
}
.tracker-prompt-maker .field-wrapper .name-dynamic-type-wrapper .field-name-wrapper label,
.tracker-prompt-maker .field-wrapper .name-dynamic-type-wrapper .field-type-wrapper label,
.tracker-prompt-maker .field-wrapper .name-dynamic-type-wrapper .presence-wrapper label {
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 0;
}
.tracker-prompt-maker .field-wrapper .prompt-default-example-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}
.tracker-prompt-maker .field-wrapper .prompt-default-example-wrapper .prompt-wrapper,
.tracker-prompt-maker .field-wrapper .prompt-default-example-wrapper .default-example-wrapper {
  width: 100%;
}
.tracker-prompt-maker .field-wrapper .prompt-default-example-wrapper .prompt-wrapper {
  width: 100%;
}
.tracker-prompt-maker .field-wrapper .prompt-default-example-wrapper .prompt-wrapper textarea {
  height: calc(100% - 30px);
}
.tracker-prompt-maker .field-wrapper .prompt-default-example-wrapper .default-value-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  flex-shrink: 0;
  align-items: center;
}
.tracker-prompt-maker .field-wrapper .prompt-default-example-wrapper .default-value-wrapper label {
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 0;
}
.tracker-prompt-maker .field-wrapper .buttons-wrapper button {
  margin: 0;
}
@media (max-width: 650px) {
  .tracker-prompt-maker .field-wrapper .name-dynamic-type-wrapper {
    flex-wrap: wrap !important;
    row-gap: 0px !important;
  }
  .tracker-prompt-maker .field-wrapper .name-dynamic-type-wrapper .field-name-wrapper {
    width: calc(100% - 30px) !important;
  }
  .tracker-prompt-maker .field-wrapper .name-dynamic-type-wrapper .field-name-wrapper, .tracker-prompt-maker .field-wrapper .name-dynamic-type-wrapper .field-type-wrapper, .tracker-prompt-maker .field-wrapper .name-dynamic-type-wrapper .presence-wrapper {
    flex-grow: 1 !important;
  }
  .tracker-prompt-maker .field-wrapper .default-value-wrapper {
    flex-wrap: wrap !important;
  }
}
.tracker-prompt-maker .buttons-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  justify-content: center;
}
.tracker-prompt-maker .buttons-wrapper button {
  white-space: nowrap;
  background-color: var(--black30a);
}
.tracker-prompt-maker .buttons-wrapper button:hover {
  background-color: var(--white30a);
}
@media (max-width: 650px) {
  .tracker-prompt-maker .buttons-wrapper {
    flex-wrap: wrap;
  }
}
.tracker-prompt-maker .drag-handle {
  cursor: move; /* Changes the cursor to indicate draggable area */
  font-size: 18px; /* Increases the size for better visibility */
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; /* Prevents text selection when dragging */
}
.tracker-prompt-maker .ui-sortable-placeholder {
  border: 1px dashed #ccc; /* Dashed border */
  visibility: visible !important;
}
.tracker-prompt-maker .ui-sortable-helper {
  z-index: 1000; /* Ensure the helper appears above other elements */
  pointer-events: none; /* Prevent interaction with the helper */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for clarity */
}
.tracker-prompt-maker .fields-container.dragging > .field-wrapper,
.tracker-prompt-maker .nested-fields-container.dragging > .field-wrapper {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.tracker-prompt-maker .fields-container.dragging > .field-wrapper:not(.ui-sortable-helper) > .prompt-default-example-wrapper,
.tracker-prompt-maker .fields-container.dragging > .field-wrapper:not(.ui-sortable-helper) > .buttons-wrapper,
.tracker-prompt-maker .fields-container.dragging > .field-wrapper:not(.ui-sortable-helper) > .nested-fields-container {
  display: none;
}
.tracker-prompt-maker .nested-fields-container.dragging > .field-wrapper:not(.ui-sortable-helper) > .prompt-default-example-wrapper,
.tracker-prompt-maker .nested-fields-container.dragging > .field-wrapper:not(.ui-sortable-helper) > .buttons-wrapper,
.tracker-prompt-maker .nested-fields-container.dragging > .field-wrapper:not(.ui-sortable-helper) > .nested-fields-container {
  display: none;
}

.tracker-modal-control-bar {
  position: absolute;
  width: 100%;
  right: 0;
  padding: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.tracker-modal-control-bar #TrackerPromptModalClose {
  height: 15px;
  aspect-ratio: 1/1;
  font-size: calc(var(--mainFontSize) * 1.3);
  opacity: 0.5;
  transition: all 250ms;
  filter: drop-shadow(0px 0px 2px black);
  text-shadow: none;
  transition: opacity 200ms;
}
.tracker-modal-control-bar #TrackerPromptModalClose:hover {
  opacity: 1 !important;
  cursor: pointer;
}

.tracker-object-editor .field-wrapper,
.tracker-object-editor .object-wrapper,
.tracker-object-editor .array-wrapper {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.tracker-prompt-maker input,
.tracker-prompt-maker select,
.tracker-object-editor input {
  margin-bottom: 5px;
}

.tracker-prompt-maker input:not([type=checkbox]):not([type=radio]),
.tracker-prompt-maker select,
.tracker-object-editor input:not([type=checkbox]):not([type=radio]) {
  display: block;
  width: 100%;
}

.tracker-prompt-maker .nested-fields-container,
.tracker-object-editor .nested-container {
  margin-left: 20px;
  margin-top: 10px;
}

.tracker-object-editor button {
  margin-right: 5px;
}

.tracker-object-editor {
  max-height: 80vh;
  overflow-y: scroll;
}

.tracker-modal-content .tracker-editor-container {
  max-height: 80vh;
  overflow-y: scroll;
}

.tracker-modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tracker-preset-buttons {
  display: flex;
}

#tracker_reset_presets:hover {
  background-color: #a90000;
}

label[for=tracker_reset_presets] {
  display: flex;
  align-items: center;
}